# node_modules
emitterLogs/
node_modules/

# login tokens
whatsapp-session-*
.wwebjs_auth/

# docs and logs
docs/
config/*.yml
downloaded-media/
data/
IndividualChatLogs/
chatContactLogs/
message-logs/
allContactLogs/*.txt
anonymisation/hashed_ids.json
anonymisation/whatsapp_analysis/

backup-app.js
downloader.js
client-logs.txt
emitterlog.txt

formResponse/

keys/*.json